.todo-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.todo-container table{
    width:100%
}

table tbody tr td, table thead tr th{
    border-bottom: 2px solid gray;
    height: 3rem;
    margin-bottom: 0px;
    font-size: 1.2rem;
    color: orangered;
}
table thead tr th{
    background-color: rgb(58, 55, 51);
}

table tbody tr:nth-child(odd){
    background-color: rgb(252, 246, 238);
}
table tbody tr:nth-child(even){
    background-color: rgb(235, 235, 235);
}
.star-icon{
    cursor: pointer;
}
.filter-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.filter-container label, .filter-container select{
    color: rgb(255, 30, 0);
    font-size: larger; 
}
.filter-container select{
    margin-right:0.5rem;
    background-color:white;
}
.todo-main{
    width: 80vw;
    margin: 0vw 10vw;
}

@media screen and (max-width:1200px) {
    .todo-container{
        width: 1200px;
        margin: 0px;
        
    }
    .todo-main{
        width: 1200px;
        overflow-x: scroll;
        margin: 0px;
        padding: 0px;
    }
    .filter-container{
        width: 1100px;  
    }

}

